<section>
  <h2>About me</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam rerum,
    aliquid officia earum quae reiciendis vel neque ex, dolor laudantium alias
    deserunt voluptatem officiis. Aliquid id libero eos facilis itaque numquam
    ut dolore velit quis similique mollitia quae, culpa veniam iure asperiores
    animi assumenda obcaecati voluptate repellendus, totam fugit, dicta
    recusandae laudantium! Illo cupiditate saepe amet obcaecati rem voluptate
    enim neque, adipisci corporis, numquam ipsam laborum natus, culpa quibusdam
    ex esse sapiente quidem maiores consequuntur. Velit a nulla officiis dolore!
  </p>
  <button [ngClass]="'botton'">Download Resume</button>
</section>
